h1{
  font-size: 45px;
  padding-top: 25px;
}
body{
  text-align: center;
}
.collapsible{
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 60%;
  border: 3px solid white;
  outline: none;
  font-size: 20px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #a6a6a6;
  color: white;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 45px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: 12px;
  line-height: 25px;
  text-align: left;
}
/*have the image centered and text below*/
.horizontal_image_layout{
  text-align: center;
}
.vertical_image_layout{
  text-align: center;
}
.vertical_image_layout img{
  width: 80%;
}
.horizontal_image_layout img{
  width: 90%;
}
/*for mid-sized screens*/
@media screen and (min-width: 768px){
  /*make the button that displays name and + or - smaller*/
  .collapsible{
    width: 30%;
  }
  /*diversify content around vertical images*/
  .vertical_image_layout img{
    height: 300px;
    width: auto;
  }
  .horizontal_image_layout img{
    width: 45%;
  }
  .content{
    font-size: 15px;
    line-height: 35px;
    text-align: left;
  }
}

/*for bigger screens*/
@media screen and (min-width: 1100px){
  .collapsible{
    width: 40%;
    font-size: 30px;
  }
  .collapsible:after, .active:after{
    font-size: 35px;
  }
  h1{
    font-size: 55px;
  }
  h2{
    font-size: 40px;
  }
  /*make images smaller*/
  .vertical_image_layout img{
    height: 250px;
    width: auto;
  }
  /*text and line-height bigger and make the content window not take up the whole screen*/
  .content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*for really big screens*/
@media screen and (min-width: 1800px){
  /*make the names and +/- signs bigger*/
  .collapsible{
    font-size: 30px;
    padding: 20px;
    width: 30%;
  }
  .collapsible:after, .active:after {
    font-size: 30px;
  }
  /*make the images smaller, you don't want them to take up too much of the screen*/
  .vertical_image_layout img{
    height: 250px;
  }
  .horizontal_image_layout img{
    width: 35%;
  }
  /*make the text bigger*/
  .content{
    font-size: 15px;
    line-height: 40px;
    width: 50%;
  }
  h1{
    font-size: 70px;
  }
  h2{
    font-size: 40px;
  }
}
